.human-body svg{
        width: 310.5px;
        margin-left: 15px;
        display: block;
    }
 
    .human-body g:hover path {
        fill: #17a4da;
    }

    .human-body svg g path{
        position: absolute;
        left: 50%;
        fill: #a8a8a8;
    }

    #cerrar:hover {
    transform: scale(1.7);
    }

    #colapsar:hover {
    transform: scale(1.7);
    }

    #colapsar2:hover {
    transform: scale(1.7);
    }

    #btnEditarC:hover {
    transform: scale(1.7);
    }

    #editFis:hover {
    transform: scale(1.7);
    } 
  
    #minCara:hover {
    transform: scale(1.7);
    }

    #datosFis:hover {
    transform: scale(1.1);
    }